# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# infrastructure directories
/infrastructure/node_modules
/infrastructure/*.js
/infrastructure/!jest.config.js
/infrastructure/*.d.ts
/infrastructure/.cdk.staging
/infrastructure/cdk.out
